</main>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
<% if (typeof scripts !== 'undefined' && Array.isArray(scripts)) { %>
    <% scripts.forEach(function(src) { %>
        <script src="<%= src %>"></script>
    <% }) %>
<% } %>
</body>
</html>
